@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-svg-fill {
  fill: white;
}

.light-svg-fill {
  fill: rgba(0, 0, 0, 1);
}

.region-list {
  display: none;
}

.show-region {
  display: block;
}
